<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lost & Found App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <!-- Main content will be inserted here -->
    {% block content %}{% endblock %}

    <!-- Footer -->
    <footer>
    <p class="footer">
        💻 Made with ❤️ by <b>Nayan</b>  
        <a href="https://github.com/KumarNayan11/Lost-found-app" target="_blank">
            <img src="https://img.icons8.com/ios-glyphs/30/000000/github.png" alt="GitHub" class="github-icon">
        </a>
    </p>
</footer>


</body>
</html>
